.app {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin-inline: auto;
  row-gap: 1em;
  background-color: rgb(233, 233, 233);
  border-style: outset;
  padding: 1rem;
}
.app textarea {
  min-height: 2.5em;
  resize: vertical;
}
.app pre {
  font-size: 0.8rem;
  white-space: pre-wrap;
}
.app textarea + p {
  font-size: 1.2rem;
}
.app rt {
  opacity: 0;
}
.app ruby > span {
  border: 1px solid transparent;
  border-bottom: 1px dashed black;
  display: inline-block;
  isolation: isolate;
}
.app ruby:hover rt {
  opacity: 1;
  outline: 1px solid;
  background-color: gainsboro;
}
.app ruby:hover > span {
  background-color: gainsboro;
  border-bottom-style: solid;
  border-color: black;
  border-top-color: transparent;
}
