html {
  font-family: -apple-system;
  font-size: 14pt;
}
body {
  max-width: 40rem;
}
textarea {
  font-size: inherit;
  min-height: 2.5em;
  resize: vertical;
  width: 100%;
}
pre {
  font-size: 0.8rem;
  white-space: pre-wrap;
}
input + p {
  font-size: 1.2rem;
}
rt {
  opacity: 0;
  z-index: -1;
}
ruby > span {
  border: 1px solid transparent;
  border-bottom: 1px dashed black;
  display: inline-block;
  isolation: isolate;
}
ruby:hover rt {
  opacity: 1;
  outline: 1px solid;
}
ruby:hover > span {
  background-color: white;
  border-bottom-style: solid;
  border-color: black;
  border-top-color: transparent;
}